@font-face {
  font-family: "iconfont";
  /* Project id 4838814 */
  src: url('iconfont.woff2?t=1742885404691') format('woff2'),
    url('iconfont.woff?t=1742885404691') format('woff'),
    url('iconfont.ttf?t=1742885404691') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Strategy:before {
  content: "\e61b";
}

.icon-Girl:before {
  content: "\e60a";
}

.icon-Sports:before {
  content: "\e7cc";
}

.icon-Match3:before {
  content: "\e6a4";
}

.icon-Casual:before {
  content: "\e641";
}

.icon-Arcade:before {
  content: "\e600";
}

.icon-Shooting:before {
  content: "\e60e";
}

.icon-Racing:before {
  content: "\e65a";
}

.icon-Adventure:before {
  content: "\e648";
}

.icon-Action:before {
  content: "\e61d";
}

.icon-Puzzle:before {
  content: "\e601";
}