@import "tailwindcss";


:root {
  --primary: #0066ff;
  --primary-dark: #0052cc;
  --secondary: #76b900;
  --secondary-dark: #5a8e00;
  --background: #f5f7fa;
  --fontsize-base: 10px;
  --tw-shadow-color: #000000;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}


html,
body {
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova", "Open Sans", "Gill Sans MT", "Gill Sans", "Noto Sans Arabic", Arial, sans-serif;
}

body {
  --bodyBackground: #fff url("../public/bg-diamante.png");
  background: var(--bodyBackground);
  background-attachment: fixed;
  color: #000;
  font: 400 16px / 24px "Proxima Nova", "Open Sans", "Gill Sans MT", "Gill Sans", "Noto Sans Arabic", Arial, sans-serif;
}

input:is([type="text"], input:where(:not([type])), [type="email"], [type="url"], [type="password"], [type="number"], [type="date"], [type="datetime-local"], [type="month"], [type="search"], [type="tel"], [type="time"], [type="week"], [multiple], textarea, select):focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
  --tw-ring-color: transparent !important;
}

@layer components {
  .primary-shadow {
    box-shadow:
      0px 2px 4px 2px #5d6b842e,
      0px 8px 3px 0px #5d6b8408,
      0px 4px 3px 0px #5d6b8417,
      0px 2px 2px 0px #5d6b8426,
      0px 0px 1px 0px #5d6b842e;
  }

  .modal-with-bg {
    background: var(--bodyBackground);
    background-attachment: fixed;
  }

  @keyframes jello {
    0% {
      transform: scaleX(1);
    }

    30% {
      transform: scale3d(1.25, 0.75, 1);
    }

    40% {
      transform: scale3d(0.75, 1.25, 1);
    }

    50% {
      transform: scale3d(1.15, 0.85, 1);
    }

    65% {
      transform: scale3d(0.95, 1.05, 1);
    }

    75% {
      transform: scale3d(1.05, 0.95, 1);
    }

    to {
      transform: scaleX(1);
    }
  }

  .animate-jello {
    animation: jello 1.5s 1s infinite both;
  }

  @keyframes smooth-slide {
    0% {
      transform: translateX(-60px);
    }

    100% {
      transform: translateX(calc(100% + 150px));
    }
  }

  .animate-smooth-slide {
    animation: smooth-slide 2s linear infinite;
  }
}

/* 隐藏特定路径下的footer */
body[data-path*="/gameframe"] footer {
  display: none !important;
}